body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: antiquewhite;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.boardContainer{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6,60px);
  grid-template-columns: repeat(5, 60px);
  justify-content: center;
  align-items: center;
}

.boardRow{
  display: flex;
}

.tile{
  border: 1px solid black;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin: 3px;
  justify-content: center;
  align-content: center;
  display: table;
}

.letter{
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.white{background-color: white;}
.gray{background-color: gray; color: white;}
.yellow{background-color: rgb(179, 179, 61); color: white;}
.green{background-color: green; color: white;}